[submodule "ynoviot_esp32"]
	path = ynoviot_esp32
	url = git@github.com:TheFirehawk33/ynoviot_esp32.git
[submodule "Tirelire"]
	path = Tirelire
	url = git@github.com:Joktaa/Tirelire.git
[submodule "tirelireDuFutur_Serveur"]
	path = tirelireDuFutur_Serveur
	url = git@github.com:Saiiga/tirelireDuFutur_Serveur.git

